@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
.about {
  display: flex;
  justify-content: center;
  transition: 1.5s;
}

:root {
  --card-height: 65vh;
  --card-width: 50rem;
}

.card1 {
  background: #191c29;
  width: var(--card-width);
  min-height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  margin: 4rem;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  font-family: cursive;
}
.card1 h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.card1::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #252b3f 43%,
    #c21000
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card1::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}
.card1 p {
  margin: 2rem;
}
.pro {
  display: flex;
  padding: 1rem;
}
.leftabout {
  margin: 1rem;
}
.rightabout {
  margin: 1rem;
}
.button {
  text-align: center;
  margin: 1.5rem;
}
.button a {
  text-decoration: none;
  color: white;
  background-color: rgb(51, 113, 237);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.button a:hover {
  background-color: white;
  color: rgb(51, 113, 237);
}
.photocont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  width: 50%;
}
.photo img {
  width: 60%;
  border-radius: 10%;
  transition: 0.2s;
}
.photo img:hover {
  transform: scale(1.2);
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@media (max-width: 800px) {
  .photo img {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .photo img {
    width: 85%;
  }
}
@media (max-width: 540px) {
  .pro {
    flex-direction: column;
  }
  .card1 {
    font-size: 1rem;
    margin: 4rem 1rem;
  }
  .photocont {
    flex-direction: column-reverse;
  }
  .photo img {
    width: 100%;
  }
}
